
.selectImgBlock {

    height: 55px;
    border-radius: 0.25rem;
    box-shadow: 2px 3px 8px -4px black;
    margin: 10px;
    background-position: center center;
    cursor: pointer;
    transition: 0.15s ease;
    background-size: contain;
}

.chip{

    display: inline-block;
    height: 32px;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 16px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    box-shadow: -2px 2px 7px -3px black;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.chip img{
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 -12px;
    border-radius: 50%;
}

.custom-drop-menu button{

    
    padding: 10px;
    font-weight: 400;
}
.custom-drop-menu a{

    text-decoration: none;
    padding: 0 !important;
    font-weight: 400 !important;
}

